<nav class="navbar navbar-expand-xl" style="padding: 0;user-select: none;">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" id="{{ site.baseurl }}/" onclick="location.href='{{ site.baseurl }}/';">Home</li>
    <li class="nav-item" id="{{ site.baseurl }}/education_and_positions" onclick="location.href='{{ site.baseurl }}/education_and_positions';">Education and positions</li>
    <li class="nav-item" id="{{ site.baseurl }}/teaching" onclick="location.href='{{ site.baseurl }}/teaching';">Teaching</li>
    <li class="nav-item" id="{{ site.baseurl }}/publications/" onclick="location.href='{{ site.baseurl }}/publications/';">Publications</li>
    <li class="nav-item" id="{{ site.baseurl }}/invited" onclick="location.href='{{ site.baseurl }}/invited';">Invited lectures, plenaries, conferences</li>
    <!-- <li class="nav-item" onclick="window.open('CV_NDobrushina 2022.doc')">cv</li> -->
  </ul>
</nav>