<nav class="navbar navbar-expand-xl" style="padding: 0;">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" id="/page/" onclick="location.href='/page';">Home</li>
    <li class="nav-item" id="/page/education_and_positions" onclick="location.href='/page/education_and_positions';">Education and positions</li>
    <li class="nav-item" id="/page/teaching" onclick="location.href='/page/teaching';">Teaching</li>
    <li class="nav-item" id="/page/publications/" onclick="location.href='/page/publications/';">Publications</li>
    <li class="nav-item" id="/page/invited" onclick="location.href='/page/invited';">Invited lectures, plenaries, conferences</li>
    <!-- <li class="nav-item" onclick="window.open('CV_NDobrushina 2022.doc')">cv</li> -->
  </ul>
</nav>